.AnagramPuzzle {
  --margin: 25px;
  --boxSize: 50px;
}
.AnagramPuzzle .puzzle {
  display: flex;
  justify-content: center;
  column-gap: var(--margin);
  margin-bottom: var(--margin);
}

.AnagramPuzzle .solution {
  display: flex;
  justify-content: center;
}

.AnagramPuzzle .description {
  margin-top: var(--margin);
  height: var(--font-size);
}

.AnagramPuzzle .DragSquare,
.AnagramPuzzle .DropSquare {
  flex: 0 0 var(--boxSize);
  text-align: center;
  border: 1px solid #444;
  height: var(--boxSize);
  line-height: var(--boxSize);
  font-size: 30px;
  font-weight: bold;
}

.AnagramPuzzle .DragSquare {
  cursor: move;
}

.AnagramPuzzle .DropSquare:not(:last-of-type) {
  border-right: 0;
}

.AnagramPuzzle .DragSquare.on-drag-start {
  opacity: 0.3;
  cursor: not-allowed;
}

.AnagramPuzzle .DropSquare.on-drag-over {
  background-color: var(--primary-color);
}
