:root {
  --primary-color: #5092c1;
  --secondary-color: #e49d22;

  --color-light: #eee;

  --bg-color: #5092c1;
  --bg-color: #fffafa;
  --text-color: #2b628a;
  /* --text-color: #002650; */

  /* Dark color scheme - not complete yet */
  --dark-text-color: #eee;
  --dark-bg-color: #333;
  --dark-bg-color: #002650;

  /*
  Game background: #E6F4F1

  */
  /*
  
  https://www.rapidtables.com/web/css/css-color.html#white

  https://mycolor.space/?hex=%23337DB1&sub=1
Switch Palette
#337DB1
#002650
#E49D22
#E6F4F1
*/
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  height: 100%;
  /* background-color: #1fd537; */
  /* color: #fff; */
  color: var(--text-color);
  /* color: #111; */
  background-color: var(--bg-color);
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

.content {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
}

.logo-button {
  all: unset;
  cursor: pointer;
  background-image: url('/logo.svg');
  width: 200px;
  height: 50px;
  margin-bottom: 50px;
}

.logo-button:focus {
  outline: 1px dotted;
}

body.game-open {
  overflow: hidden;
  position: fixed;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show-canvas {
  top: 0;
}
canvas {
  position: fixed;
  top: 100vh;
  transition: top 0.5s cubic-bezier(0.2, 0.9, 0.3, 1.2);
}

.close-button {
  all: unset;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--main-color);
  background-color: transparent;
  transition: all 0.5s linear;
}

.close-button:hover {
  color: var(--color-light);
  background-color: var(--logo-color);
}
